*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d8d7d7;
}
.container{
    width: 360px;
    height: 640px;
    background-color: whitesmoke;
    position: relative;
    left: 45%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: -60px;
}
input{
    position: relative;
    left: 30px;
    margin-top: 20px;
    width:80%;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
    box-shadow:inset 2px 2px 5px #888;
    user-select: none;
}
.box{
    margin-top: 20px;
    margin-left:18px;
    width: 325px;
    height:525px ;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;    
}
button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    box-shadow: 3px 3px 3px rgb(227, 227, 198);

}
button:hover{
 border: 1px solid black;
 cursor: pointer;
}
